<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/index.css'>
</head>
<body>
  <h1>Lista de usuários (<%= model.length %>)</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Matrícula</th>
          <th>
              <a href="/create">Criar</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (const user of model) { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.registrationnumber %></td>
            <td>
              <a href="edit/<%= user.id %>">Editar</a>
              <a href="delete/<%= user.id %>">Excluir</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
    
</body>
</html>